form{
  display:flex;
  flex-direction: column;
  max-width: 300px;

  h2{
    flex:1;
  }

  input{
    flex:1;
    margin-bottom: 10px;
  }

  select{
    flex:1;
    height: 300px;
    margin-bottom: 10px;
  }

  button{
    flex:1;
  }
}
